.gentitle {
  color: #eeeeee;
  font-family: Arial, Helvetica, sans-serif;
}

.nameoutput {
  display: inline-block;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  border: 2px solid #3d3d3d;
  border-radius: 4px;
  background-color: #212121;
  font-size: 24px;
  resize: none;
  color: #eeeeee;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: scroll;
}

.info {
  text-align: center;
  display: block;
}

.controls {
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  border: 2px solid #3d3d3d;
  border-radius: 4px;
  width: 50%;
  justify-content: center;
  grid-column-gap: 2.5%;
  margin-top: 0.5%;
}

.controls label {
  text-align: center;
  width: 100%;
}

.controls div {
  justify-content: center;
}

.controls div select {
  text-align: center;
  background-color: #212121;
  color: #eeeeee;
  border: 1px solid #3d3d3d;
  border-radius: 5%;
  width: 100%;
}

.controls div input {
  accent-color: #3d3d3d;
}

.generate {
  font-weight: bold;
  color: #eeeeee;
  background-color: #212121;
  font-size: 100%;
  border: 1px solid #3d3d3d;
  border-radius: 5%;
  width: 5%;
}

.btndiv {
  margin-top: 0.5%;
}

.quantity {
  color: #eeeeee;
  display: inline-block;
  background-color: #212121;
  font-size: 100%;
  border: 1px solid #3d3d3d;
  border-radius: 5%;
  width: 2em;
  text-align: right;
  margin-left: 0.25%;
}

.qtdiv {
  margin-top: 0.1%;
}

/* Hide the quantity arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance:textfield;
}