.nameoutput {
    width: 50%;
    height: 300px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #3d3d3d;
    border-radius: 4px;
    background-color: #212121;
    font-size: 16px;
    resize: none;
    color: #eeeeee;
  }