/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 7.5%;
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 0;
    background-color: #212121;
    overflow-x: hidden;
    overflow-y: scroll;
    border-right: 1px solid #3d3d3d;
    border-top: 1px solid #3d3d3d;
}

/* Style the sidenav links and the dropdown button */
.sidenav > a {
    padding: 16px 16px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #eeeeee;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* UNIVERSAL DROPDOWN CSS */
details > summary {
    list-style: none;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
summary::marker { content: none }

/* TIER 1 DROPDOWN CSS */
.dropdown-tier1 > summary {
    text-align: left;
    cursor: pointer;
    padding: 16px 16px 6px 16px;
    text-decoration: none;
    font-size: 20px;
}
.dropdown-tier1 div {
    text-align: left;
    padding-left: 15%;
    cursor: pointer;
    color: #eeeeee;
    text-decoration: none;
    width: 100%;
    font-size: 16px;
}
.dropdown-tier1 > summary::after {
    content: " ►";
    font-size: 16px;
}
.dropdown-tier1[open] > summary:after {
    content: " ▼";
}

/* TIER 2 DROPDOWN CSS */
.dropdown-tier2 > summary {
    text-align: left;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    padding-left: 15%;
}
.dropdown-tier2 div {
    text-align: left;
    padding-left: 20%;
    cursor: pointer;
    color: #eeeeee;
    text-decoration: none;
    width: 100%;
}
.dropdown-tier2 > summary::after {
    content: " ►";
    font-size: 12px;
}
.dropdown-tier2[open] > summary:after {
    content: " ▼";
}


/* On mouse-over */
.sidenav > a:hover, details div:hover, details > summary:hover {
    color: #eeeeee;
    background-color: #0092ca;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}