body {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    background-color: #181818;
    color: #eeeeee;
    text-align: center;
    padding-top: 5%;
    font-size: 1rem;
}

/* To prevent rogue HTML from flashing before the CSS is loaded, everything starts technically invisible. */
/* This just makes everything visible once the CSS is fully loaded.                                       */
html {
    visibility: visible;
    opacity: 1;
}